@charset "utf-8";
@font-face { font-family: 'NanumGothic';
    src: url('/fonts/NanumGothic.eot');
    src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),
    url('/fonts/NanumGothic.woff') format('woff');}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #222;
}
ol,ul,li{
    list-style: none;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body{
    font-family: "NanumGothic";
    font-size: 100%;
    /* 본문폰트 16px 기준으로 상대값을 잡겠다는 뜻 */
    overflow-x: hidden;
}